@import "@google-awlt/shared-config/tailwind";
@import "@google-awlt/table/styles.css";

/* TODO: Investigate why these css are not loading for devtools and remove from here. */
.data-\[active\=true\]\:bg-sidebar-accent[data-active="true"] {
  background-color: var(--sidebar-accent);
}

.data-\[active\=true\]\:font-semibold[data-active="true"] {
  --tw-font-weight: var(--font-weight-semibold);
  font-weight: var(--font-weight-semibold);
}

.data-\[active\=true\]\:text-sidebar-accent-foreground[data-active="true"] {
  color: var(--sidebar-accent-foreground);
}

@source "../../../../design-system";
@source "../../../../table";
